<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" monitorInterval="5">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] (%c) %m %x%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>

        <!-- Avoid hiding Orbit exceptions eg. one way messaging -->
        <Logger name="cloud.orbit.actors.runtime.ObjectInvoker" level="DEBUG"/>
        <Logger name="cloud.orbit.actors.runtime.InternalUtils" level="DEBUG"/>

    </Loggers>
</Configuration>
